 <post>
    <div id="postcontent">
        <div class="One">
           <p>
            Living in Lowell is beneficial in several ways. 
            This is because of the city’s positive attributes, 
            such as diversity, family-friendliness, nightlife,
             outdoor activities, and safety
           </p>
        </div>
        <div class="two">
           <p>
            A diverse city is usually welcoming and progressive.
            Fortunately, Lowell ranks highly for diversity in
             Massachusetts. According to Niche, the city is the
              6th most diverse suburb in Massachusetts and the 
              state’s 10th most diverse place. 
           </p> 
        </div>
        <div class="three">
           <p>
            Although it’s a city on its own, it’s also considered
            a suburb of Boston. The lifestyle here is quite suburban,
             and residents enjoy the perks of living close to Boston.
              Life is largely quiet here, which is great for families.
               In addition, Lowell is the 26th best suburb for young 
               professionals in Massachusetts. So, you can bring your
                kids over and start a wonderful life in Lowell.
           </p> 
            
        </div>
        <div class="four">
            <p>
                Lowell is an iconic city of sorts for many reasons. 
                It’s the birthplace of legendary writer Jack Kerouac,
                 and Kerouac Park is named after him. 
            </p>
            
        </div>
        <div class="five">
            <p>
                Nightlife in Lowell encompasses comedy clubs, live music,
                exotic delicacies, and lots more. This isn’t a boring city
                 where everyone is indoors once it’s sundown. While there 
                 are family-friendly neighborhoods and areas, there are areas 
                 that keep buzzing far into the night.
            </p>
        
    
        </div>
        
      
       </div>
    <!-- <div class="event-form" method="POST">
        <h1>Post An Event</h1>
        <form method="POST" action="/">
            
            
            <select id="Sport" required>
                <option value="Sport">Soccer</option>
                <option value="Basketball">Basketball</option>
                <option value="Football">Football</option>
                <option value="Tennis">Tennis </option>
                <option value="Volleyball">Volleyball</option>
                <option value="Golf">Golf</option>
                <option value="Baseball">Baseball></option>

                

               </select>
            <input required value="title" type="text"  name="title" placeholder="confirm sport" <%= Event.title%>>
            <input required value="name" type="text"  name="name" placeholder="" <%= Event.name%>>
            <input required value="contact" type="text" name="contact" placeholder="contact" <%=Event.contact%> >
            <input required value="date" type="date" name="date"   placeholder="date" <%=Event.date %>>
           
            
               <input required value="address" type="text" name="Address" placeholder="Address" <%= Event.address %>>
               <textarea required name="markdown" id="markdown" >tell us about the event <%=Event.markdown %></textarea>
               <input data-tilt type="submit" value="submit" method="POST">
        </form>
    </div> -->
</post>  
