
<table id="sportTable" border="1">
  
    <thead>
        <tr>
            <th>Sport</th>
            <th>Venue</th>
            <th>Location</th>
            <th>City</th>
            <th>zipcode</th>
        </tr>
        
    </thead>
    <tbody id="tableBody">
        <% for (var i = 0; i < Sport.length; i++) { %>
            <tr>
                <td><%= Sport[i].type %></td>
                <td><%= Sport[i].name %></td>
                <td><%= Sport[i].address%></td>
                <td><%= Sport[i].city %></td>
                <td><%= Sport[i].zipcode %></td>
            </tr>
        <% } %>
    </tbody>
</table>

 